.catalog-menu {
	position: relative;
}

.catalog-menu__btn {
	display: block;
	width: 23px;
	height: 23px;
	background-image: url('../img/icon_plus.svg');
	background-position: center;
	background-size: 22px 22px;
	background-repeat: no-repeat;
	opacity: 0.3;
	position: absolute;
	top: 1px;
	right: -37px;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

.catalog-menu__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	position: absolute;
	margin: 0px;
	padding-left: 0px;
	top: 55px;
	left: 0px;
	background-color: transparent;
}
 
.catalog-menu__link {
	white-space: nowrap;
	letter-spacing: -0.02em;
	cursor: pointer;
}


.catalog-menu__link {
	&:hover {opacity: 60%;}
	&:active {opacity: 30%;}
}


.catalog-menu__column {
	/* width: 180px;*/
	margin-right: 62px;
}
.catalog-menu__item {
	padding-bottom: 18px;
}
