
.main-header * :not(.container) {
	/* outline: 1px solid limegreen;*/
	/* outline-offset: -1px;*/
}

.main-header {
	padding-top: 43px;
}

.main-header .container {
	position: relative;
}

.main-header .logo {
	position: absolute;
	top: -19px;
	left: 89px;

	&:hover {
		opacity: 0.6;
	}

	&:active {
		opacity: 0.3;
	}
}



.main-header__wrapper {
	background: $bgc-yellow;
}

.main-header__nav {

}
