.nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.nav__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	padding-right: 60px;


	& * {
		/* outline: 1px dotted hotpink;*/
		/* outline-offset: -1px;*/
	}
}
/* ----------------------------------*/
.main-header__search {
	margin-left: 60px;
}

.site-search__form-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-line-pack: stretch;
	    align-content: stretch;

	padding-top: 31px;
}

.site-search__label {
	text-indent: -1000px;
	white-space: nowrap;

	width: 16px;
	margin-left: -1px;	

	background-image: url("../img/icon_search.svg");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
}

.site-search__input[type='search'] {
	font-family: "OpenSans", "Times New Roman", serif;
	font-size: 1em;
	line-height: 1.362em;
	letter-spacing: -0.02em;
	color: rgba(0, 0, 0, 0.3);
	background: $bgc-yellow;

	display: block;
	padding-left: 22px;
	padding-top: 0px;
	
	border: 2px solid transparent;
	outline: none;

	&::-webkit-input-placeholder {
		color: rgba(0, 0, 0, 0.3);
	}

	&::-moz-placeholder {
		color: rgba(0, 0, 0, 0.3);
	}

	&:-ms-input-placeholder {
		color: rgba(0, 0, 0, 0.3);
	}

	&::-ms-input-placeholder {
		color: rgba(0, 0, 0, 0.3);
	}

	&::placeholder {
		color: rgba(0, 0, 0, 0.3);
	}

	&:hover::-webkit-input-placeholder {
		color: rgba(0, 0, 0, 0.6);
	}

	&:hover::-moz-placeholder {
		color: rgba(0, 0, 0, 0.6);
	}

	&:hover:-ms-input-placeholder {
		color: rgba(0, 0, 0, 0.6);
	}

	&:hover::-ms-input-placeholder {
		color: rgba(0, 0, 0, 0.6);
	}

	&:hover::placeholder {
		color: rgba(0, 0, 0, 0.6);
	}

	&:focus {
		color: rgba(0, 0, 0, 1.0);
		&::-webkit-input-placeholder {
			color: rgba(0, 0, 0, 1.0);
		}
		&::-moz-placeholder {
			color: rgba(0, 0, 0, 1.0);
		}
		&:-ms-input-placeholder {
			color: rgba(0, 0, 0, 1.0);
		}
		&::-ms-input-placeholder {
			color: rgba(0, 0, 0, 1.0);
		}
		&::placeholder {
			color: rgba(0, 0, 0, 1.0);
		}
	}

}

.site-search__button {
	font-family: "OpenSans", "Times New Roman", serif;
	font-size: 1em;
	font-weight: 300;
	text-transform: uppercase;
	color: transparent;

	background-color: $bgc-yellow;
	width: 84px;
	height: 50px;
	position: relative;
	border: 2px solid transparent;

	&:active {
		color: rgba($font-clr-2, 0.3);
		background-color: $font-clr;
		border-color: black;
		border-bottom-color: transparent;
	}

}

.site-search__input[type='search']:focus+.site-search__button,
.site-search__input[type='search']:focus-visible+.site-search__button {
	border: 2px solid black;
	border-bottom-color: transparent;
	color: $font-clr;

	&:hover {
		color: $font-clr-2;
		background-color: $font-clr;
	}

}

/* при использовании автозаполнения, фон ввода становится прозрачный, а не используется бело-серый по умолчанию (в Хроме)*/
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-transition: background-color 5000s ease-in-out 0s;
						transition: background-color 5000s ease-in-out 0s;
	}

/* -----------------------------------*/


.user-nav {
	margin-left: auto;
	margin-right: -40px;
	padding-top: 46px;
	padding-bottom: 26px;
	/* padding-right: 60px;*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	list-style: none;
}

.main-header__nav .user-nav {
	width: 562px;
}
.main-header__nav .user-nav__item:first-child {
	margin-right: auto;
}
/* ! убрать last child*/
/* .user-nav__item:last-child {*/
/* 	margin-right: 0px;*/
/* }*/

.user-nav__item {
	margin-right: 40px;;
}

.user-nav__link {
	letter-spacing: -0.02em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	/* &:hover {*/
	/* 	opacity: 0.6;*/
	/* }*/

	/* &:active {*/
	/* 	opacity: 0.3;*/
	/* }*/
}

.main-header .user-nav__link {
	&:hover {
		opacity: 0.6;
	}
	&:active {
		opacity: 0.3;
	}
}

.user-nav__icon {
	width: 14px;
	margin-right: 10px;

	background-image: url('../img/icon_user.svg');
	background-size: 14px 14px;
	background-position: center bottom;
	background-repeat: no-repeat;
}

.user-nav__user-name {
	margin-right: 20px;
	color: black;

}

.catalog__user-nav .user-nav__item:first-child {
	margin-left: 21px;

	& .user-nav__link {
		color: rgba(0, 0, 0, 0.3);
	}
}

.compare {
	width: 16px;
	background-image: url('../img/icon_compare.svg');
	background-size: 14px 14px;
	background-position: left center;
	background-repeat: no-repeat;
}

.cart {
	width: 16px;
	background-image: url('../img/icon_cart.svg');
	background-size: 10px 10px;
	background-position: center;
	background-repeat: no-repeat;
}


.site__nav {
}


