@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
}
body {
  min-width: 1920px;
  margin: 0;
  font-family: "OpenSans", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  word-wrap: normal;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1220px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  outline: 1px solid red;
  outline-offset: -1px;
}

.main-header {
  padding-top: 43px;
}

.main-header .container {
  position: relative;
}

.main-header .logo {
  position: absolute;
  top: -20px;
  left: 89px;
}

.main-header__wrapper {
  background: #F7E296;
}

.nav {
  display: flex;
  flex-direction: column;
}

.nav__container {
  display: flex;
  flex-direction: row;
}

.main-header__search {
  padding-top: 44px;
  padding-bottom: 25px;
  margin-left: 60px;
}

.form-wrapper {
  display: flex;
}

.main-header__search label {
  font-family: "OpenSans", "Times New Roman", serif;
  font-size: 1em;
  line-height: 1.362em;
  letter-spacing: -0.02em;
  margin-left: 2px;
  color: rgba(0, 0, 0, 0.3);
  order: 0;
}

.main-header__search input[type=search] {
  background: #F7E296;
  display: none;
  order: 1;
}

.search-button {
  width: 16px;
  height: 16px;
  margin-right: 20px;
  margin-top: 3px;
  margin-left: -1px;
  background-color: #F7E296;
  background-image: url("../img/icon_search.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  border: none;
  order: -1;
}

.user-nav {
  width: 560px;
  padding-top: 45px;
  padding-bottom: 25px;
  list-style: none;
  display: flex;
  margin-left: auto;
  padding-left: 23px;
}

.user-nav__item {
  position: relative;
  margin-right: 63px;
}

.user-nav__item::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  background-image: url("../img/icon-user.svg");
  background-size: 13px 14px;
  background-position: center;
  background-repeat: no-repeat;
}

.user-nav__link {
  letter-spacing: -0.02em;
}

.log-in {
  margin-right: auto;
}

.log-in::before {
  background-image: url("../img/icon_user.svg");
  background-size: 13px 14px;
  background-position: center;
  background-repeat: no-repeat;
  top: 3px;
  left: -25px;
}

.compare::before {
  background-image: url("../img/icon_compare.svg");
  background-size: 14px 14px;
  background-position: center;
  background-repeat: no-repeat;
  top: 3px;
  left: -26px;
}

.cart::before {
  background-image: url("../img/icon_cart.svg");
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  top: 2px;
  left: -22px;
}

.site-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 58px 162px 59px;
}

.site-nav__item {
  margin-top: 23px;
}

.site-nav__item:first-child {
  margin-right: auto;
}

.site-nav__item:not(:first-child) {
  margin-left: 35px;
}

.site-nav__item:last-child {
  margin-left: 107px;
}

.site-nav__link {
  font-family: "Gilroy", "Open Sans", "Lucida Sans", sans-serif;
  font-weight: 800;
  font-size: 1.2em;
  line-height: 1.47em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.site-nav__item:first-child .site-nav__link {
  letter-spacing: 0.1em;
}

.catalog-menu {
  position: relative;
}

.catalog-menu::after {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  background-image: url("../img/icon_plus.svg");
  background-position: center;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  opacity: 0.3;
  position: absolute;
  top: 1px;
  right: -37px;
}

.catalog-menu__list {
  display: flex;
  list-style: none;
  position: absolute;
  margin: 0px;
  padding-left: 0px;
  top: 55px;
  left: 0px;
}

.hide {
  display: none;
}

.catalog-menu__link {
  white-space: nowrap;
  letter-spacing: -0.02em;
}

.catalog-menu__column {
  margin-right: 62px;
}

.catalog-menu__item {
  padding-bottom: 18px;
}
/*# sourceMappingURL=style.css.map */
