@charset "UTF-8";
@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
}
body {
  min-width: 1920px;
  margin: 0;
  font-family: "OpenSans", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: black;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* .promo-card__title {*/
/*   font-family: "Gilroy";*/
/*   font-weight: 800;*/
/*   font-style: normal;*/
/*   font-size: 47px;*/
/*   line-height: 58px;*/
/* }*/
.container {
  max-width: 1220px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  /* outline: 1px solid red;*/
  /* outline-offset: -1px;*/
}

/* .visually-hidden {*/
/*   position: absolute;*/
/*   width: 1px;*/
/*   height: 1px;*/
/*   margin: -1px;*/
/*   border: 0;*/
/*   padding: 0;*/
/*   white-space: nowrap;*/
/*   word-wrap: normal;*/
/*   clip-path: inset(100%);*/
/*   clip: rect(0 0 0 0);*/
/*   overflow: hidden;*/
/* }*/
.hide {
  display: none;
}

.more,
.write-us {
  font-family: "Gilroy", "Open Sans", "Lucida Sans", sans-serif, serif;
  font-weight: 800;
  line-height: 1em;
  font-size: 1.2em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: inline-block;
  width: 220px;
  height: 40px;
  text-align: center;
  position: relative;
  padding-top: 12px;
  z-index: 1;
}

.more::before,
.write-us::before {
  content: "";
  display: block;
  width: 220px;
  height: 8px;
  background-color: #F0C52E;
  position: absolute;
  top: 17px;
  left: -2px;
  z-index: -1;
}

.more:hover,
.write-us:hover {
  background-color: #F0C52E;
}
.more:hover::before,
.write-us:hover::before {
  display: none;
}

.more:active,
.write-us:active {
  color: rgba(0, 0, 0, 0.3);
}
.more:active::before,
.write-us:active::before {
  display: none;
}

/* @import "blocks/";*/
.main-header * :not(.container) {
  /* outline: 1px solid limegreen;*/
  /* outline-offset: -1px;*/
}

.main-header {
  padding-top: 43px;
}

.main-header .container {
  position: relative;
}

.main-header .logo {
  position: absolute;
  top: -19px;
  left: 89px;
}
.main-header .logo:hover {
  opacity: 0.6;
}
.main-header .logo:active {
  opacity: 0.3;
}

.main-header__wrapper {
  background: #F7E296;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-right: 60px;
}
.nav__container * {
  /* outline: 1px dotted hotpink;*/
  /* outline-offset: -1px;*/
}

/* ----------------------------------*/
.main-header__search {
  margin-left: 60px;
}

.site-search__form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  padding-top: 31px;
}

.site-search__label {
  text-indent: -1000px;
  white-space: nowrap;
  width: 16px;
  margin-left: -1px;
  background-image: url("../img/icon_search.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.site-search__input[type=search] {
  font-family: "OpenSans", "Times New Roman", serif;
  font-size: 1em;
  line-height: 1.362em;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.3);
  background: #F7E296;
  display: block;
  padding-left: 22px;
  padding-top: 0px;
  border: 2px solid transparent;
  outline: none;
}
.site-search__input[type=search]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.site-search__input[type=search]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.site-search__input[type=search]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.site-search__input[type=search]::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.site-search__input[type=search]::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.site-search__input[type=search]:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.site-search__input[type=search]:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.site-search__input[type=search]:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.site-search__input[type=search]:hover::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.site-search__input[type=search]:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.site-search__input[type=search]:focus {
  color: black;
}
.site-search__input[type=search]:focus::-webkit-input-placeholder {
  color: black;
}
.site-search__input[type=search]:focus::-moz-placeholder {
  color: black;
}
.site-search__input[type=search]:focus:-ms-input-placeholder {
  color: black;
}
.site-search__input[type=search]:focus::-ms-input-placeholder {
  color: black;
}
.site-search__input[type=search]:focus::placeholder {
  color: black;
}

.site-search__button {
  font-family: "OpenSans", "Times New Roman", serif;
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
  color: transparent;
  background-color: #F7E296;
  width: 84px;
  height: 50px;
  position: relative;
  border: 2px solid transparent;
}
.site-search__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000;
  border-color: black;
  border-bottom-color: transparent;
}

.site-search__input[type=search]:focus + .site-search__button,
.site-search__input[type=search]:focus-visible + .site-search__button {
  border: 2px solid black;
  border-bottom-color: transparent;
  color: #000;
}
.site-search__input[type=search]:focus + .site-search__button:hover,
.site-search__input[type=search]:focus-visible + .site-search__button:hover {
  color: #fff;
  background-color: #000;
}

/* при использовании автозаполнения, фон ввода становится прозрачный, а не используется бело-серый по умолчанию (в Хроме)*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/* -----------------------------------*/
.user-nav {
  margin-left: auto;
  margin-right: -40px;
  padding-top: 46px;
  padding-bottom: 26px;
  /* padding-right: 60px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}

.main-header__nav .user-nav {
  width: 562px;
}

.main-header__nav .user-nav__item:first-child {
  margin-right: auto;
}

/* ! убрать last child*/
/* .user-nav__item:last-child {*/
/* 	margin-right: 0px;*/
/* }*/
.user-nav__item {
  margin-right: 40px;
}

.user-nav__link {
  letter-spacing: -0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* &:hover {*/
  /* 	opacity: 0.6;*/
  /* }*/
  /* &:active {*/
  /* 	opacity: 0.3;*/
  /* }*/
}

.main-header .user-nav__link:hover {
  opacity: 0.6;
}
.main-header .user-nav__link:active {
  opacity: 0.3;
}

.user-nav__icon {
  width: 14px;
  margin-right: 10px;
  background-image: url("../img/icon_user.svg");
  background-size: 14px 14px;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.user-nav__user-name {
  margin-right: 20px;
  color: black;
}

.catalog__user-nav .user-nav__item:first-child {
  margin-left: 21px;
}
.catalog__user-nav .user-nav__item:first-child .user-nav__link {
  color: rgba(0, 0, 0, 0.3);
}

.compare {
  width: 16px;
  background-image: url("../img/icon_compare.svg");
  background-size: 14px 14px;
  background-position: left center;
  background-repeat: no-repeat;
}

.cart {
  width: 16px;
  background-image: url("../img/icon_cart.svg");
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 58px 162px 59px;
}

.site-nav__item {
  margin-top: 23px;
}

.site-nav__item:first-child {
  margin-right: auto;
}

.site-nav__item:not(:first-child) {
  margin-left: 35px;
}

.site-nav__item:last-child {
  margin-left: 107px;
}

.site-nav__link:hover {
  opacity: 60%;
}
.site-nav__link:active {
  opacity: 30%;
}

.site-nav__link {
  font-family: "Gilroy", "Open Sans", "Lucida Sans", sans-serif;
  font-weight: 800;
  font-size: 1.2em;
  line-height: 1.47em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.site-nav__item:first-child .site-nav__link {
  letter-spacing: 0.1em;
}

.catalog-menu {
  position: relative;
}

.catalog-menu__btn {
  display: block;
  width: 23px;
  height: 23px;
  background-image: url("../img/icon_plus.svg");
  background-position: center;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  opacity: 0.3;
  position: absolute;
  top: 1px;
  right: -37px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.catalog-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  position: absolute;
  margin: 0px;
  padding-left: 0px;
  top: 55px;
  left: 0px;
  background-color: transparent;
}

.catalog-menu__link {
  white-space: nowrap;
  letter-spacing: -0.02em;
  cursor: pointer;
}

.catalog-menu__link:hover {
  opacity: 60%;
}
.catalog-menu__link:active {
  opacity: 30%;
}

.catalog-menu__column {
  /* width: 180px;*/
  margin-right: 62px;
}

.catalog-menu__item {
  padding-bottom: 18px;
}

.main-content {
  margin-bottom: 40px;
  /* position: relative;*/
}

:root {
  --pseudo-color: white;
  --pseudo-text: "01";
}

.promo {
  position: relative;
  top: -159px;
  left: 0px;
}

.promo__list {
  margin: 0 auto;
  width: 1100px;
  height: 550px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  position: relative;
}

.promo_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo_item::before {
  content: "";
  display: block;
  width: 100px;
  height: 7px;
  position: absolute;
  top: 64px;
  left: 569px;
  background-color: white;
  z-index: 1;
}

.promo_item::after {
  content: var(--pseudo-text);
  font-family: "Gilroy", "Open Sans", "Lucida Sans", sans-serif, serif;
  font-weight: 800;
  line-height: 219px;
  font-size: 179px;
  color: var(--pseudo-color);
  position: absolute;
  top: 12px;
  right: 18px;
  z-index: 0;
}

.promo-card {
  height: 530px;
}

.promo-card__image-column {
  margin-right: auto;
  margin-left: 58px;
  padding-top: 20px;
}

.promo-card:nth-child(2) .promo-card__image-column {
  margin-left: 85px;
  padding-top: 46px;
}

.promo-card:nth-child(3) .promo-card__image-column {
  margin-left: -1px;
  padding-top: 103px;
}

.promo-card__description-column {
  width: 550px;
  position: relative;
}

.promo-card__title {
  font-family: "Gilroy", "Open Sans", "Lucida Sans", sans-serif, serif;
  font-weight: 800;
  line-height: 57.58px;
  font-size: 47px;
  margin-top: 115px;
  margin-left: 20px;
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
}

.promo-card__text {
  letter-spacing: -0.022em;
  line-height: 20.43px;
  margin-left: 20px;
}

.promo-card__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 125px;
  margin-left: 20px;
}

.promo-card__features dt {
  font-family: "Gilroy", "Open Sans", "Lucida Sans", sans-serif, serif;
  font-weight: 300;
  line-height: 1em;
  font-size: 0.857em;
  letter-spacing: 0.1em;
  margin-left: 0px;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
}

.promo-card__features dd {
  font-family: "Gilroy", "Open Sans", "Lucida Sans", sans-serif, serif;
  font-weight: 300;
  line-height: 2.1em;
  font-size: 2.4em;
  letter-spacing: 0.1em;
  margin-left: 0px;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.promo-card__features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 62px;
}

.promo__link {
  position: absolute;
  top: 345px;
  left: 21px;
}

.hide {
  display: none;
}

/* ---------- Pagination start --------*/
.promo__list-control {
  position: absolute;
  bottom: 159px;
  right: 110px;
}

/* ------------ Pagination end -----------*/
.pagination {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.pagination__item {
  padding: 0px;
  width: 30px;
  height: 30px;
}

.pagination__button {
  display: block;
  cursor: pointer;
  padding: 0px;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  text-indent: -100px;
  overflow: hidden;
  white-space: nowrap;
  background-image: -o-radial-gradient(center, circle, transparent 0, transparent 0px 5px, black 5px 6px, transparent 6px 100%);
  background-image: radial-gradient(circle at center, transparent 0, transparent 0px 5px, black 5px 6px, transparent 6px 100%);
}

.active {
  background-image: -o-radial-gradient(center, circle, transparent 0, transparent 0 2px, black 2px 3px, transparent 3px 5px, black 5px 6px, transparent 6px 100%);
  background-image: radial-gradient(circle at center, transparent 0, transparent 0 2px, black 2px 3px, transparent 3px 5px, black 5px 6px, transparent 6px 100%);
  /*** чем больше контейнер, тем больше повторяющихся кругов ***
  	* 
  	* background: -o-repeating-radial-gradient(transparent, transparent 2px, black 2px, black 3px);background: repeating-radial-gradient(transparent, transparent 2px, black 2px, black 3px);
  	*
  ***/
}

.popular {
  margin-top: -110px;
}

.popular__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 35px 0 35px 0;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.popular__title {
  font-family: "Gilroy", "Open Sans", "Lucida Sans", sans-serif, serif;
  font-weight: 800;
  font-size: 1.2em;
  line-height: 1.24em;
  letter-spacing: 0.05em;
  width: 161px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 0px;
}

.popular__item:nth-child(4) .popular__title {
  letter-spacing: 0em;
}

.popular__icon {
  margin-bottom: 36px;
}

.popular__link:active .popular__title {
  opacity: 0.3;
}

.services {
  margin-top: 14px;
  padding-top: 15px;
  height: 403px;
  background: -o-linear-gradient(top, transparent 0 28.54%, #E5E5E5 28.54% 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(28.54%, #E5E5E5));
  background: linear-gradient(to bottom, transparent 0 28.54%, #E5E5E5 28.54% 100%);
  position: relative;
  z-index: 0;
}

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* ----------------------------------------------------------*/
.services__menu,
.services__menu * {
  /* outline: 1px dashed limegreen;*/
  /* outline-offset: -1px;*/
}

.services__menu {
  height: 160px;
  width: 276px;
  margin-top: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services__menu-item {
  width: 100%;
  height: 40px;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}
.services__menu-item:hover input[type=radio] {
  height: 100%;
  top: 0px;
}
.services__menu-item:active input[type=radio] {
  height: 100%;
  top: 0px;
  width: 100%;
  background-color: black;
}
.services__menu-item:active .services__label {
  color: #F7E296;
}

.services__menu-item input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 160px;
  height: 7px;
  background-color: #F0C52E;
  position: absolute;
  top: 16px;
  left: 0px;
  z-index: -1;
}

.services__label {
  font-family: "Gilroy", Verdana, Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 1.125em;
  line-height: 0.91875em;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.2em;
  width: 160px;
  outline-color: magenta;
}

/* -------------------------------------------------*/
.services__list {
  padding-left: 115px;
  border-left: 7px solid black;
}

.services__item {
  display: none;
  position: relative;
}
.services__item::after {
  content: "";
  display: block;
  width: 171px;
  height: 195px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -16px;
  right: -232px;
}
.services__item:nth-child(1)::after {
  background-image: url("../img/delivery.svg");
  background-size: 136px 164px;
}
.services__item:nth-child(2)::after {
  background-image: url("../img/garanty.svg");
  background-size: 171px 194px;
  top: -19px;
  right: -204px;
}
.services__item:nth-child(3)::after {
  background-image: url("../img/credit.svg");
  background-size: 156px 188px;
  top: -27px;
  right: -216px;
}

.services__header {
  font-family: "Gilroy", "Open Sans", sans-serif, serif;
  font-weight: 800;
  font-size: 3.13em;
  line-height: 1.22em;
  letter-spacing: 0.2em;
  margin-top: 58px;
  margin-bottom: 40px;
}

.services__text {
  font-family: "OpenSans", sans-serif, serif;
  font-weight: 300;
  line-height: 1.87em;
  letter-spacing: 0.1em;
  width: 543px;
}
.services__item:nth-child(2) .services__text {
  width: 572px;
  line-height: 2em;
}

.services__item_active {
  display: block;
}

.partners *:not(.container) {
  /* outline: 1px solid royalblue;*/
  /* outline-offset: -1px;*/
}

.partners {
  margin-top: 91px;
  margin-bottom: 50px;
}

.partners__list {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}

.partners__item:nth-child(1):hover img {
  content: url("../img/dji-c.png");
}

.partners__item:nth-child(2):hover img {
  content: url("../img/spgadgets-с.png");
}

.partners__item:nth-child(3):hover img {
  content: url("../img/gopro-с.png");
}

.partners__item:nth-child(4):hover img {
  content: url("../img/vive-с.png");
}

.info-contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 665px;
  /* background: aliceblue;*/
  /* opacity: 0.3;*/
  position: relative;
  padding-top: 39px;
}
.info-contacts__wrapper section[class$=column]::before {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  background-color: black;
  position: relative;
}

.info-column {
  margin-right: 43px;
  padding-right: 83px;
}
.info-column .info__text:nth-child(3) {
  width: 473px;
  margin-bottom: 60px;
}

.info-contacts__wrapper > section {
  /* outline: 1px solid blue;*/
  /* outline-offset: -1px;*/
}
.info-contacts__wrapper > section .more, .info-contacts__wrapper > section .write-us {
  width: 260px;
}
.info-contacts__wrapper > section .more::before, .info-contacts__wrapper > section .write-us::before {
  width: 260px;
}
.info-contacts__wrapper > section .more {
  top: 53px;
  left: 2px;
}
.info-contacts__wrapper > section .write-us {
  top: 74px;
  left: 1px;
}

.info__title,
.contacts__title {
  font-family: "Gilroy", "Open Sans", sans-serif, serif;
  font-weight: 800;
  font-size: 3.13em;
  line-height: 1.22em;
  letter-spacing: 0.2em;
  margin-top: 51px;
  margin-bottom: 40px;
}

.info__text,
.contacts__text {
  letter-spacing: -0.024em;
  line-height: 1.87em;
  margin-bottom: 40px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.info__list {
  margin: 0px 0px 0px 0px;
  padding-left: 0px;
  list-style: none;
}

.info__item {
  font-family: "Gilroy", "Open Sans", sans-serif, serif;
  font-weight: 800;
  font-size: 1.06em;
  line-height: 1.75em;
  margin-bottom: 15px;
}
.info__item::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  outline: 2px solid #E5E5E5;
  /* outline: 2px solid magenta;*/
  outline-offset: -2px;
  margin-right: 23px;
  margin-bottom: 3px;
}

/* ----------contacts----------------------------------*/
.contacts * {
  /* outline: 1px dotted magenta;*/
  /* outline-offset: -1px;*/
}

.contacts__mini-map {
  display: block;
  border: 1px solid black;
  -webkit-box-shadow: 0px 4px 4px 0 black;
  box-shadow: 0px 4px 4px 0 black;
}

.modal-map {
  display: none;
  width: 994px;
  height: 593px;
  position: absolute;
  top: 75px;
  left: 84px;
  z-index: 5;
}

.button_close {
  padding: 0px;
  border: none;
  position: absolute;
  top: 29px;
  right: 36px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #F0C52E;
  /*$bgc-yellow;*/
  opacity: 0.5;
  background-image: url("../img/icon_cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
}
.button_close:hover {
  opacity: 1;
}
.button_close:active {
  opacity: 0.3;
}

.main-footer {
  margin-top: 0px;
  background-color: #363636;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}
.main-footer__row .logo {
  margin-right: auto;
  margin-top: 24px;
}
.main-footer__row .logo:hover {
  opacity: 0.6;
}
.main-footer__row .logo:active {
  opacity: 0.3;
}

/* ----------------------------------*/
.main-footer__row:last-child {
  margin-top: 66px;
}
.main-footer__row:last-child::before {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  margin-top: 13px;
  margin-right: auto;
  background-color: #FFC600;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 1px;
  margin-right: 16px;
  padding-left: 0px;
  padding-right: 20px;
  width: 400px;
  color: white;
}
.socials .socials__item {
  position: relative;
  margin-right: 17px;
  width: 35px;
  height: 35px;
}
.socials .socials__link {
  color: white;
  display: block;
  color: inherit;
  text-indent: -1000px;
  overflow: hidden;
  white-space: nowrap;
}
.socials .socials__link::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
}
.socials .fb .socials__link::before {
  background-image: url("../img/fb.svg");
}
.socials .inst .socials__link::before {
  background-image: url("../img/insta.svg");
}
.socials .twit .socials__link::before {
  background-image: url("../img/twit.svg");
}

.logo-html {
  display: block;
  width: 27px;
  height: 35px;
  margin-left: auto;
}
.logo-html:hover svg path {
  opacity: 0.6;
}
.logo-html:active svg path {
  opacity: 0.3;
}

.site-nav-footer__link:hover {
  opacity: 0.6;
}

.site-nav-footer__link:active {
  opacity: 0.3;
}

.socials__link {
  opacity: 0.3;
}

.socials__link:hover {
  opacity: 0.6;
}

.socials__link:active {
  opacity: 0.1;
}

/* -------------- first row ---------------*/
.main-footer__row:first-child {
  margin-right: -40px;
  margin-bottom: 38px;
}
.main-footer__row:first-child .user-nav {
  margin-top: 8px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.main-footer__row:first-child .user-nav__item {
  margin-right: 40px;
}
.main-footer__row:first-child .user-nav__link {
  color: rgba(255, 255, 255, 0.7);
}
.main-footer__row:first-child .user-nav__link .user-nav__icon {
  opacity: 100%;
}
.main-footer__row:first-child .user-nav__link:hover {
  color: white;
}
.main-footer__row:first-child .user-nav__link:hover .user-nav__icon {
  opacity: 0.6;
}
.main-footer__row:first-child .user-nav__link:active {
  color: rgba(255, 255, 255, 0.3);
}
.main-footer__row:first-child .user-nav__link:active .user-nav__icon {
  opacity: 0.3;
}
.main-footer__row:first-child .user-nav__icon.log-in {
  background-image: url("../img/icon_user_y.svg");
}
.main-footer__row:first-child .user-nav__icon.compare {
  background-image: url("../img/icon_compare_y.svg");
}
.main-footer__row:first-child .user-nav__icon.cart {
  background-image: url("../img/icon_cart_y.svg");
}

/* ------------------------------------------------------------------------*/
.main-footer__row:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main-footer__row:nth-child(2) .address {
  font-family: "OpenSans", Lucida, Helvetics, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  line-height: 20px;
  font-weight: 300;
  color: white;
  opacity: 1;
}
.main-footer__row:nth-child(2) .site-nav-footer {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-column-gap: 36px;
  -moz-column-gap: 36px;
  column-gap: 36px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.main-footer__row:nth-child(2) .site-nav-footer .site-nav-footer__item .site-nav-footer__link {
  font-family: "Gilroy", "Open Sans", sans-serif, serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: white;
}
.main-footer__row:nth-child(2) .phone {
  color: white;
  display: block;
  margin-left: 36px;
}

/* .modal-write-us,*/
/* .modal-write-us * {*/
/* 	outline: 1px dotted blue;*/
/* 	outline-offset: -1px;*/
/* }*/
.modal-write-us {
  display: none;
  width: 960px;
  height: 550px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 90px;
  padding-bottom: 60px;
  position: absolute;
  top: 75px;
  left: 84px;
  z-index: 6;
  -webkit-box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}
.modal-write-us label {
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 1.2em;
  line-height: 1.47em;
  color: black;
}
.modal-write-us input[type=text]:placeholder, .modal-write-us input[type=email]:placeholder, .modal-write-us textarea:placeholder {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 0.93em;
  line-height: 1.27em;
  letter-spacing: -0.1em;
  color: rgba(0, 0, 0, 0.4);
}

.form__write-us {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-areas: "a b" "c c" "d .";
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 84px 30px 1fr 30px 40px;
  grid-template-rows: 84px 1fr 40px;
  gap: 30px 40px;
}

.form__cell-wrapper:nth-child(3) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
}

.form__cell-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal-write-us label {
  margin-bottom: 7px;
}

.modal-write-us label + * {
  background-color: #f2f2f2;
  padding-left: 20px;
  border: none;
}
.modal-write-us label + *:hover {
  background-color: #eaeaea;
}
.modal-write-us label + *:focus {
  background-color: transparent;
  border: 2px solid #F7E296;
}
.modal-write-us label + *:focus-visible {
  outline: none;
}

.modal-write-us input[type=text],
.modal-write-us input[type=email] {
  height: 50px;
}
.modal-write-us input[type=text]:invalid,
.modal-write-us input[type=email]:invalid {
  background-color: #F6DADA;
}

.modal-write-us textarea {
  padding-top: 17px;
  height: 167px;
}

.form__submit-btn {
  position: relative;
  width: 200px;
  height: 40px;
  padding: 0px;
  margin: 0px;
  font-family: "Gilroy", sans-serif;
  font-size: 1.2em;
  line-height: 1.47em;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background-color: transparent;
  z-index: 0;
}
.form__submit-btn:before {
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  position: absolute;
  top: 16px;
  background-color: #f7e296;
  z-index: -1;
}
.form__submit-btn:hover:before, .form__submit-btn:hover:active {
  top: 0px;
  height: 100%;
}
.form__submit-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.modal-write-us .button_close {
  top: 20px;
  right: 20px;
}

.main-catalog {
  margin-bottom: 0px;
}

.catalog__site-nav {
  padding-bottom: 48px;
}

/****
	.catalog {
		outline: 1px solid orange;
		outline-offset: -1px;
	}

	.catalog__wrapper_out .container {
			background-color: rgba(255, 255, 153, 0.3);
		}

	.catalog *:not(.catalog__wrapper) {
		outline: 1px dotted limegreen;
		outline-offset: -1px;;
	}

	.catalog__wrapper {
		outline: 2px dashed blueviolet;
		outline-offset: -2px;;
	}


	.container .catalog__show-window {
		outline: 2px dashed #b30086;
		outline-offset: -2px;;
	}

	.container .catalog__card-list {
		background-color: rgba(255, 255, 204, 0.1);
		// display: none;
	}
**/
/* ---------------------------------------------*/
.catalog__title {
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 3.13em;
  line-height: 1.23em;
  color: black;
  margin-top: 45px;
  margin-bottom: 0px;
  padding-left: 59px;
}

.catalog .catalog__breadcrumbs {
  margin-top: 29px;
  padding-left: 59px;
  margin-bottom: 49px;
}

.catalog__wrapper_out {
  position: relative;
  background: -o-linear-gradient(top, #E5E5E5 0, #E5E5E5 0 70px, transparent 70px 100%), -o-linear-gradient(left, #E5E5E5 0, #E5E5E5 0 36.8%, transparent 36.8% 100%);
  background: linear-gradient(to bottom, #E5E5E5 0, #E5E5E5 0 70px, transparent 70px 100%), linear-gradient(to right, #E5E5E5 0, #E5E5E5 0 36.8%, transparent 36.8% 100%);
}
.catalog__wrapper_out:before {
  content: "";
  display: block;
  width: 100%;
  height: 70px;
  background: -o-linear-gradient(left, #DCDCDC 0, #DCDCDC 0 36.8%, transparent 36.8% 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #DCDCDC), color-stop(0, #DCDCDC), color-stop(36.8%, transparent));
  background: linear-gradient(to right, #DCDCDC 0, #DCDCDC 0 36.8%, transparent 36.8% 100%);
}
.catalog__wrapper_out .container {
  position: relative;
  top: -70px;
}
.catalog__wrapper_out .filter .filter__price * {
  outline-color: magenta;
}

.catalog__wrapper_in {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 328px 1fr;
  grid-template-columns: 328px 1fr;
  -ms-grid-rows: 70px 1fr;
  grid-template-rows: 70px 1fr;
}

form:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  grid-row: 1/-1;
}

form:nth-child(2) {
  grid-column: 2/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.catalog__show-window {
  grid-column: 2/-1;
  grid-row: 2/-1;
  /* width: 100%;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 71px;
  padding-top: 70px;
}

.catalog__card-list {
  margin: 0px;
  padding: 0px 0px 40px 0px;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr [2];
  -ms-grid-columns: 1fr [2];
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  grid-auto-flow: row;
  justify-items: start;
  grid-row-gap: 48px;
  grid-column-gap: 40px;
}

.catalog__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #EBEBEB;
}

.catalog__pagination-list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__pagination-item {
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 0.3);
}
.catalog__pagination-item:not(:last-child) {
  margin-right: 30px;
}

.catalog__pagination-item_current {
  color: black;
}

.catalog__pagination-button {
  padding: 0px 0px 0px 0px;
  border: none;
  background-color: transparent;
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.catalog__pagination-button:first-child {
  margin-right: auto;
}
.catalog__pagination-button:last-child {
  margin-left: auto;
}

.breadcrumbs {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__item {
  margin-right: 15px;
}
.breadcrumbs__item:not(.breadcrumbs__item:last-child):after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 9px;
  background-image: url("../img/pagination-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 4px 7px;
  margin-left: 15px;
}

.breadcrumbs__link {
  font-family: "OpenSans";
  font-weight: 300;
  font-style: normal;
  font-size: 0.93em;
  line-height: 1.36em;
  color: rgba(0, 0, 0, 0.3);
}
.breadcrumbs__link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.breadcrumbs__link:active {
  color: rgba(0, 0, 0, 0.1);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 360px;
  height: 454px;
  position: relative;
  cursor: pointer;
}
.card:hover .card__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card:hover .card__image {
  -webkit-filter: opacity(70%);
  filter: opacity(70%);
}
.card:hover:focus-visible {
  outline-width: 1px;
}
.card:focus .card__image, .card:focus-visible .card__image {
  outline: 1px solid black;
  outline-offset: -1px;
}

.card__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card__title {
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  /* width: 300px;*/
}

.card__price {
  font-family: "Gilroy", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  vertical-align: middle;
}

.card__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 31px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: cen;
  -ms-flex-align: cen;
  align-items: cen;
}

.card__buttons {
  position: absolute;
  top: 171px;
  left: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  display: none;
}
.card__buttons button[type=button] {
  border: none;
  padding: 0px;
}

.card_add-to-cart {
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: black;
  width: 200px;
  height: 40px;
  margin-bottom: 13px;
  background: -o-linear-gradient(top, transparent 0, transparent 0 16px, #F0C52E 16px 24px, transparent 24px 100%);
  background: linear-gradient(to bottom, transparent 0, transparent 0 16px, #F0C52E 16px 24px, transparent 24px 100%);
}
.card_add-to-cart:hover, .card_add-to-cart:active {
  background: #F0C52E;
}
.card_add-to-cart:active {
  color: rgba(0, 0, 0, 0.3);
}

.card_add-to-copmare {
  font-family: "OpenSans";
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: black;
  background: transparent;
  opacity: 0.5;
}
.card_add-to-copmare:hover {
  opacity: 1;
}
.card_add-to-copmare:active {
  opacity: 0.2;
}

.card__label-new {
  position: absolute;
  top: 29px;
  right: 31px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 12px;
  line-height: 62px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
  display: none;
}
.card:last-child .card__label-new {
  display: block;
}

.filter {
  margin: 0px;
  border: none;
  padding-left: 59px;
  padding-top: 7px;
  /* padding-right: 68px;*/
}
.filter .filter__price * {
  outline: none;
}
.filter .filter__color * {
  /* outline: none;*/
}

.filter__title {
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 18px;
  margin-bottom: 95px;
}

.filter__price,
.filter__color,
.filter__bluetooth {
  width: 200px;
  border-top: 2px solid black;
  padding-bottom: 8px;
  margin-bottom: 30px;
}

.filter__price-title,
.filter__color-title,
.filter__bluetooth-title {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: inherit;
}

.filter input[type=range] {
  width: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.filter input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
}
.filter input[type=range]::-moz-range-track {
  -moz-appearance: none;
  appearance: none;
}
.filter input[type=range]::-ms-track {
  appearance: none;
}
.filter input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}
.filter input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
}
.filter input[type=range]::-ms-thumb {
  appearance: none;
}

.filter__price-range-thumbs {
  margin-top: 30px;
  margin-bottom: 6px;
}

input[type=range] + label,
.filter__price-label {
  font-family: "Gilroy", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: black;
}

.filter__price input[type=range] + label {
  position: relative;
  left: -4px;
}
.filter__price input[type=range] + label:last-of-type {
  left: 58px;
}

.filter__color {
  /* margin-bottom: 25px;*/
  padding-bottom: 7px;
}

.filter__color-list {
  margin-top: 30px;
  margin-bottom: 0px;
}

.filter__bluetooth-list {
  margin-top: 30px;
  margin-bottom: 0px;
}

.filter__submit {
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  /* vertical-align: middle;*/
  color: black;
  width: 200px;
  height: 40px;
  padding: 0px;
  margin-top: 3px;
  border: none;
  background: -o-linear-gradient(top, transparent 0, transparent 0 16px, #F0C52E 16px 24px, transparent 24px 100%);
  background: linear-gradient(to bottom, transparent 0, transparent 0 16px, #F0C52E 16px 24px, transparent 24px 100%);
}
.filter__submit:hover, .filter__submit:active {
  background: #F0C52E;
}
.filter__submit:active {
  color: rgba(0, 0, 0, 0.3);
}
.filter__submit:focus-visible {
  outline: 2px solid blue;
}

.sorting {
  margin: 0px;
  border: none;
  height: 100%;
  padding-top: 0px;
  padding-left: 71px;
  padding-bottom: 0px;
  padding-right: 0px;
}

.sorting__container {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-items: center;*/
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sorting__title {
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-right: 69px;
}

.sorting__type input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.sorting__type input[type=radio]:checked + label {
  opacity: 1;
}
.sorting__type label {
  font-family: "OpenSans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: black;
  opacity: 0.3;
  margin-right: 22px;
}
.sorting__type label:hover {
  opacity: 0.6;
}
.sorting__type label:active {
  opacity: 1;
}

.sorting__direction {
  margin-left: auto;
}
.sorting__direction input[type=submit] {
  width: 18px;
  height: 18px;
  border: none;
  text-indent: -100px;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px 11px;
}

.sorting__direction_up {
  background-image: url("../img/triangleUp.svg");
  margin-right: 12px;
  opacity: 0.2;
}
.sorting__direction_up:hover {
  opacity: 0.4;
}
.sorting__direction_up:active {
  opacity: 1;
}

.sorting__direction_down {
  background-image: url("../img/triangleDown.svg");
  margin-right: 2px;
}
.sorting__direction_down:hover {
  opacity: 0.4;
}

.range-thumb {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 20px;
  grid-template-rows: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.range-thumb__track-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 2px;
  grid-template-rows: 2px;
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.range-thumb__track {
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.range-thumb__track_active {
  width: 114px;
  height: 2px;
  background-color: #91C92F;
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.range-thumb__thumb-container {
  position: relative;
  height: 20px;
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.range-thumb__thumb {
  width: 20px;
  height: 20px;
  background-color: #C4C4C4;
  border-radius: 50%;
  border: 8px solid white;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
}
.range-thumb__thumb.range-thumb__thumb_max {
  left: 114px;
}
.filter__price .range-thumb__thumb:focus-visible {
  outline: 2px solid blue;
  /* -webkit-box-shadow: 0px 4px 4px rgba(255, 0, 0, 0.25);*/
  /*         box-shadow: 0px 4px 4px rgba(255, 0, 0, 0.25);*/
}
.range-thumb__thumb:active {
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
}

.colors {
  padding-left: 0px;
  list-style: none;
}
.colors input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid black;
  border-radius: 2px;
  cursor: pointer;
  background-color: transparent;
}
.colors input[type=checkbox][checked] {
  background-image: url("../img/icon_check.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.colors input[type=checkbox]:hover, .colors input[type=checkbox][checked]:hover {
  opacity: 0.6;
}
.colors input[type=checkbox]:disabled, .colors input[type=checkbox][checked]:disabled {
  opacity: 0.25;
}
.colors input[type=checkbox]:disabled + label[for^=color] {
  color: #a6a6a6;
}
.colors input[type=checkbox]:focus-visible {
  outline: 2px solid blue;
}
.colors label[for^=color] {
  font-family: "OpenSans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: black;
  margin-left: 18px;
}

.colors__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}
.colors__item:last-child {
  margin-bottom: 0px;
}

.bluetooth {
  padding-left: 0px;
  list-style: none;
}

.bluetooth__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}
.bluetooth__item:not(:last-child) {
  margin-bottom: 16px;
}

.bluetooth__item input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  background: -o-radial-gradient(center, circle, transparent 0, transparent 0 10px, black 10px 100%);
  background: radial-gradient(circle at center, transparent 0, transparent 0 10px, black 10px 100%);
}
.bluetooth__item input[type=radio]:hover {
  opacity: 0.6;
}
.bluetooth__item input[type=radio]:active {
  background: -o-radial-gradient(center, circle, black 0, black 0 4px, transparent 4px 10px, black 10px 100%);
  background: radial-gradient(circle at center, black 0, black 0 4px, transparent 4px 10px, black 10px 100%);
}
.bluetooth__item input[type=radio]:disabled, .bluetooth__item input[type=radio]:disabled + label {
  opacity: 0.25;
}
.bluetooth__item input[type=radio]:checked {
  background: -o-radial-gradient(center, circle, black 0, black 0 4px, transparent 4px 10px, black 10px 100%);
  background: radial-gradient(circle at center, black 0, black 0 4px, transparent 4px 10px, black 10px 100%);
}
.bluetooth__item input[type=radio]:checked:hover {
  opacity: 0.6;
}
.bluetooth__item input[type=radio]:checked:active {
  background: -o-radial-gradient(center, circle, transparent 0, transparent 0 10px, black 10px 100%);
  background: radial-gradient(circle at center, transparent 0, transparent 0 10px, black 10px 100%);
  opacity: 0.6;
}
.bluetooth__item input[type=radio]:checked:disabled, .bluetooth__item input[type=radio]:checked:disabled + label {
  opacity: 0.25;
}
.bluetooth__item input[type=radio] + label {
  font-family: "OpenSans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: black;
  margin-left: 16px;
}
.bluetooth__item input[type=radio]:focus-visible {
  outline: 2px solid blue;
}
/*# sourceMappingURL=style.css.map */
