@font-face {
	font-family: "OpenSans";
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "OpenSans";
	font-weight: 300;
	font-style: normal;
	src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
	font-family: "Gilroy";
	font-weight: 300;
	font-style: normal;
	src: url('../fonts/Gilroy-Light.woff') format('woff'), 
			url('../fonts/Gilroy-Light.ttf') format('truetype');
}

@font-face {
	font-family: "Gilroy";
	font-weight: 800;
	font-style: normal;
	src: url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
			url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
}

