$font-clr: #000;
$font-clr-2: #fff; 
$bgc-basic-dark: #363636;
$bgc-yellow: #F7E296;
$bgc-yellow-saturated: #F0C52E;
$bgc-yellow-super-saturated: #FFC600;
$bgc-light-gray: #E5E5E5;
$bgc-gray: #f2f2f2;
$bgc-gray-darker: #eaeaea;